img {
    padding-top: 10px;
    width: 200px; 
    position: absolute; 
    left: 10px; 
}


.introduction {
    background-image: url('images/fond.png');
    background-size: cover;
    height: 700px
    
}

.introduction{
    background-color: black;
    color: white;
}

h1 {
    padding-top: 50px;
    padding-left: 5%;
    font-size: 50px; 
}

.Presentation {
    padding-right: 600px;
    padding-left: 5%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: white; 
    text-decoration: none;
    border-radius: 5px; 
}

.button:hover {
    background-color: #0056b3; 
}

.about{
    padding-top: 500px;
}

header {
    display: flex; 
    align-items: center; 
    background-color: black;
    width: 100%;
    height: 80px;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-family: Arial, sans-serif;
    text-align: justify;
}

nav {
    margin-left: auto; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    padding-top: 50px;
    font-size: 50px; 
}

.aboutme{
    color: white;
    padding-right: 5%;
    padding-left: 5%;
}

h3 {
    font-size: 30px; 
} 

.studies{
    padding-right: 100px;
}

.studies-content {
    display: flex;
    justify-content: space-between;
}

.text-content {
    flex: 2;
    text-align: justify;
}

.image-content img {
    width: 500px; 
    height: auto; 
}

.image-content {
    margin-left: 20px;
    flex: 1;
    position: relative; 
}

.image-content img {
    position: absolute;
    top: 0;
    right: 0; 
}